body {
    background-image: linear-gradient(to bottom, #348f50, #56b4d3);
  }

  .login-section {
    border: none;
    margin: auto;
    background-color: white;
    width: 400px;
    padding: 40px 20px;
    box-shadow: 0px 0px 10px white;
    top: 170px;
    border-radius: 8px;
    background-color: #eceeff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-heading{
    font-weight: 600;
    margin-bottom: 22px;
    color: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}